@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--animate-scroll-left: scroll-left 30s linear infinite;

	@keyframes scroll-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}

	--animate-scroll-right: scroll-right 30s linear infinite;

	@keyframes scroll-right {
		from {
			transform: translateX(calc(-100% * 2 / 3));
		}
		to {
			transform: translateX(0);
		}
	}
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
